.footer {
    width: 100%;
    height: auto;
    background-color: #333333; 
    margin: 0; 
    padding: 40px 20%;
    box-sizing: border-box;
    color: white;
    text-align: center;
}

.footer_content {
    background: none; 
    padding: 15px 0; 
    box-sizing: border-box;
}

.footer_content_main {
    background: none !important;
}

.footer_content_contact {
    background: none !important; 
}

.footer_title {
    font-size: 35px;
    font-weight: bold;
    color: white;
    margin: 0 0 20px; 
}

.footer_des {
    margin: 10px 0 0;
    font-size: 16px; 
    color: #acacac;
}

.link {
    font-size: 16px; 
    color: #acacac;
    text-decoration: none;
    cursor: pointer;
    margin: 0 10px 0 0;
    transition: color 0.3s ease;
}

.link:hover {
    color: #ffffff; 
}

@media all and (max-width: 750px) {
    .footer_content {
        padding: 30px 20px; 
    }
    .footer_title {
        font-size: 30px;
        margin: 0 0 20px;
    }
    .footer_des {
        margin: 15px 0 0;
        font-size: 14px;
    }
    .link {
        font-size: 14px;
        margin: 0 8px 0 0;
    }
}

@media all and (max-height: 550px) {
    .footer_info {
        top: 4200px;
    }
}